p {
    line-height: 1.1em;
    margin-bottom: 5px;
}

.about-section {
    position: relative;
    padding-top: 25px;
    min-height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.page-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.crea-bg-text {
    position: absolute;
    top: 10%;
    width: 100%;
}

.employ-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.employ-img {
    width: 50%;
    border-radius: 50%;
}

.employ-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.employ-info__tooth {
    position: absolute;
    display: flex;
    width: 50%;
    bottom: 0;
    right: 0;
    transform: rotateZ(-45deg);
}

.employ-info__title {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 1.3vw;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.employ-info__name {
    color: #777;
    font-size: 1vw;
    text-align: center;
    font-weight: 500;
}

@media screen and (min-width: 1920px) {
    .employ-info__title {
        font-size: 30px;
    }

    .employ-info__name {
        font-size: 24px;
    }
}

@media screen and (max-width: 992px){
    .employ-info__title {
        font-size: 4vw;
    }

    .employ-info__name {
        font-size: 3vw;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 768px) {
    .employ-img {
        /*width: 40%;*/
    }

    .employ-info {
        /*width: 59%;*/
    }

    .employ-info__title {
        font-size: 5vw;
        margin-bottom: 16px;
    }

    .employ-info__name {
        font-size: 4vw;
    }

    .crea-bg-text {
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        transform: rotateZ(0);
        transform-origin: left;
    }
}
